!!!
%html

  %head
    %title
      = yield(:title) || "Application title"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/

    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'

    = stylesheet_link_tag 'compiled/application.css', :media => 'screen, projection'

    = stylesheet_link_tag "formtastic", "formtastic_changes"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)

  %body
    .top
      .container
        = render :partial => "layouts/menu"

    %hr.space

    .container
      .main
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{ name }"

        %h1.title= yield(:title)

        = yield

